# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Local configuration
local.properties
*.iml

# IntelliJ/Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Android/Jetpack Compose build
app/build/

# Keystore files
*.jks
*.keystore

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Kotlin
.kts~
*.kt~
*.class

# Kapt / KSP generated
ksp/
